@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Libre+Baskerville&display=swap');
:root{
    --main-text-color:#ffffff;
    --primary-color:rgb(251, 159, 19);
    --primary-color-light:#f0d293f6;
    --secondary-color:#010c2c;
    --secondary-color-light:#ccd1e0;

}
/* Base reset */
*{
    margin: 0;
    padding: 0;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
@media(max-width:75em){
    html{
        font-size: 60%;
    }
}
@media(max-width:61.25em){
    html{
        font-size: 58%;
    }

}
@media(max-width:28.75em){
    html{
        font-size: 55%;
    }
}
body{
    font-family: 'Libre Baskerville', serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-text-color);
}
h1,
h2{
    font-family: 'ABeeZee', sans-serif;
    font-weight: 700;
    text-align: center;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 4.2rem;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--main-text-color);
}
img{
    display: block;
    width: 100%;
}

/* navigation bar styling start */
nav{
    display: flex;
    background-color: var(--primary-color);
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 9px #0f0801;
    top: 0;
    left: 0;
    z-index: 1;
}
.nav-list{
    display: flex;
    margin-right: 2rem ;
    
}
.nav-list a{
    display: block;
    font-size: 2.2rem;
    padding: 2.5rem;

}
.nav-list a:hover{
    background-color: var(--secondary-color);
    transition: 0.5s;
}
@media(max-width:28.75em){
    .nav{
        justify-content: center;
    }
    .nav-list{
        margin: 0 1rem;
    }
}
/* welcome section start */
.welcome-section{
    display: flex;
    flex-direction: column;
    background-color: #000;
    height: 100vh;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(128deg, #8a8987 0%,
    rgb(12, 63, 95) 100%) ;
}
.welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: rgb(250, 117, 9);
}
/* welcome section end */

/* project section start*/
.projects-section{
    background-color: var(--secondary-color);
    text-align: center;
    padding: 10rem 2rem;
}
.projects-section-header{
    max-width: 640px;
    margin: 0 auto 6rem auto;
}
@media(max-width:28.75em){
    .projects-section-headerfont{
        font-size: 4rem;
    }
}
.projects-gird{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3.5rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
@media(max-width:30.625em){
    .projects-section{
        padding: 6rem 1rem;
    }
    .projects-gird{
        grid-template-columns: 1fr;
    }
}
.project{
    background: rgb(49, 48, 47);
    box-shadow: 6px 5px 9px rgb(71, 67, 95);
    border-radius: 5px;
}
.icon{
    padding: 0 2rem;
    color: rgb(49, 48, 47);
    transition: color 0.3s ease-out;
   
}
.project:hover .icon {
    color: var(--primary-color);
}
.project-image{
    object-fit: cover;
    width: 100%;
    height: calc(100% - 6.8rem);

}
.project-title{
    font-size: 2rem;
    padding: 2rem 0.5rem;
}
.btn{
    display: inline-block;
    padding: 1rem 2.5rem;
    border-radius: 2px;
}
.btn-show-all{
    font-size: 2rem;
    background:  rgb(49, 48, 47);
    transition: background 0.3s ease-out;
}
.btn-show-all:hover{
    background: var(--primary-color);
}
.btn-show-all:hover > i {
    transform: translateX(4px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
/* project section End*/
/* contact start*/
.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    align-items: center;
    padding: 0 2rem;
    background-color: rgb(49, 48, 47);
}
.contact-section-header > h2 {
    font-size: 6rem;
}
@media(max-width:28.75em){
    .contact-section-header > h2{
        font-size: 4rem;
    }
}
.contact-section-header > p {
    font-style: italic;
}
.contact-links{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.contact-details{
    font-size: 2.5rem;
    text-shadow: 3px 3px 2px #0c0701;
    transition: transform 0.3s ease-out;
}
.contact-details:hover{
    transform: translateY(8px);
}
.contact-links  i {
    margin-right: 1rem;
    font-size: 3.5rem;
}
/*contact end*/
/* footer  start*/
footer{
    background-color: rgb(49, 48, 47);
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    border-top: var(--primary-color) 5px solid;
}
footer i {
    margin-left: 2rem;
    font-size: 2rem;
}
/*footer end*/